<template>
    <!-- :visible="visible" -->
  <a-modal
    v-model="visible"
    :title="isFormEdit ? 'Update a user':'Create a new user'"
    :okText="isFormEdit ? 'Update' : 'Create'"
    @cancel="() => { $emit('cancel') }"
    @ok="() => { $emit('create') }"
  >
  <!-- <a-input
          v-model="userInfo.name.first"></a-input> -->
          <!-- :form="form" -->
          <!-- {{JSON.stringify(form.getFieldsValue(), null, 2)}} -->
    <a-form layout='vertical' :form="form">
      <a-form-item label='Họ và tên Lót'>
        <!-- v-model="userInfo.name.first" -->
        <a-input
          v-decorator="[
            'name.first',
            {
              rules: [{ required: true, message: 'Vui lòng nhập họ và tên lót!' }],
              getValueFromEvent: e => e.target.value.trim()
            }
          ]"
        />
      </a-form-item>
          <!-- v-model="userInfo.name.last" -->
      <a-form-item label='Tên'>
        <a-input
          v-decorator="[
            'name.last',
            {
              rules: [{ required: true, message: 'Vui lòng nhập tên!' }],
              getValueFromEvent: e => e.target.value.trim()
            }
          ]"
        />
      </a-form-item>
          <!-- v-model="userInfo.email" -->
      <a-form-item label='Email'>
        <a-input
          v-decorator="[
            'email',
            {
              rules: [{ required: true, message: 'Vui lòng nhập email!' }],
              getValueFromEvent: e => e.target.value.trim()
            }
          ]"
        />
      </a-form-item>
      <!-- <a-form-item label='Description'>
        <a-input
          type='textarea'
          v-decorator="['description']"
        />
      </a-form-item> -->
      <!-- v-model="userInfo.gender" -->
      <a-form-item class='collection-create-form_last-form-item'>
        <a-radio-group
          v-decorator="[
            'gender',
            {
              initialValue: null,
              rules: [{ required: true, message: 'Vui lòng nhập giới tính!' }],
            }
          ]"
        >
            <a-radio value='male'>Nam</a-radio>
            <a-radio value='female'>Nữ</a-radio>
          </a-radio-group>
      </a-form-item>
    </a-form>
  </a-modal>
</template>
<script>
import Vue from 'vue'

export default {
    //props: ['visible', 'userInfo', 'v'],
    name: 'FormUserComponent',
    props: {
        userInfo: {
          name: {
            first: String,
            default: 'aaa',
            last: String
          },
          email: {},
          gender: {}
        },
        // visible: Boolean,
        isFormEdit: Boolean
    },
    data() {
      return  {
        visible: false
      }
    },
    created() {
        // this.setDataForm();
    },
    watch: {
      "userInfo": function() {
          // this.setDataForm();
        debugger
      }
      // "visible": function() {
      //   this.setDataForm();
      // }
    },
    beforeCreate() {
        this.form = this.$form.createForm(this, { first: 'form_user_modal' });
        console.log('f', this.form.getFieldsValue());
    },
    mounted() {
        // this.setDataForm();
    },
    methods: {
      show() {
        this.visible = true;
      },
      hidden(){
        this.visible = false;
      },
      setDataForm() {
        debugger
        // let self = this;
        // console.log('self',self.userInfo);
        this.form.setFieldsValue({
          name: {
            first : 'd',//this.userInfo.name.first
            last: this.userInfo.name.last,
          },
          gender: this.userInfo.gender,
          email: this.userInfo.email
        });
      }
    },
}
</script>
